.input-container{
  position:relative;
}

.input-container input{
  border-radius: 20px;
  border: 1px solid rgba(0,0,0,0.3);
  background: white;
  position: relative;
  box-shadow: 2px 5px 7px 0px rgba(0,0,0,0.2);
  padding: 5px 15px;
  margin: 0px auto;
  display: block;
  transition: all ease-in-out .15s;
  width: 85%;
}

input:hover{
  transform: scale(1.003);
  box-shadow: 2px 5px 5px 0px rgba(0,0,0,0.25);
}

input:hover~img{
  transform: rotateZ(30deg);
}

input:focus{
  width: 90%;
  border: 1px solid rgba(0,0,0,0.45);
  box-shadow: 2px 5px 7px 0px rgba(0,0,0,0.32);
  outline: none;
}

input:focus~img{
  left: 92%;
  transform: rotateZ(180deg);
  transition: all ease-in .25s;
}

.input-container img{
  width: 2%;
  position: absolute;
  transition: all ease-in .23s;
  left: 89%;
  cursor: pointer;
  top: 10%;
}

.input-container img:hover{
  transition: all ease-in .25s;
  transform: scale(.99) rotateZ(360deg);
}
