.col img{
  max-width:20%;
  vertical-align: middle;
}

.row .col{
  transform: rotateZ(0deg) rotateX(5deg) rotateY(0deg);
  transition: all ease-in-out .2s;
}

.row .dashboard:hover{
   transform: scale(1.08) rotateZ(-1deg) rotateX(-5deg) rotateY(5deg);
   box-shadow: 1px 1px 5px 5px rgba(238,249,237,.07),2px 2px 14px 10px rgba(68,218,220,0.07);
   background: linear-gradient(to right, rgba(168,218,220,0.85), rgba(238,249,237,.8));
}
